# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# postgres data 
db/postgis_data/*


# Python dependencies
*.pkl
*.pyc


# Images, Audio
*.jpg
*.JPG
*.jpeg
*.png
*.bmp
*.mp4
*.mp3
*.avi


# vim specific things
*.un
*.un~
*~
*.swp

# api
.env


